name: Semgrep

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:

  semgrep-full:
      runs-on: ubuntu-latest
      container:
        image: returntocorp/semgrep

      steps:

        # step 1
        - name: clone application source code
          uses: actions/checkout@v3

        # step 2
        - name: full scan
          run: |
           semgrep ci --config "p/default" --output=semgrep-result.json || true

        # step 3
        - name: save report as pipeline artifact
          uses: actions/upload-artifact@v3
          with:
            name: semgrep-result.json
            path: semgrep-result.json

